*{
    font-family: 'Gowun Dodum', sans-serif;}

/* 상단부 */
    
header{
    position:fixed;  /* 고정 */
    z-index:5;       /* 높이 우선순위를 높게 설정 */
    width: 100%;     /* 너비 화면 꽉채움 */
    height: 80px;    /* 높이 */
    top:0px;         /* 위치(맨위) */
    left:0px;        /* 위치(맨왼쪽)*/
    background-color: white;    
    color: black;
}
.logo{
    position: fixed;
    top:10px;
    left:10px;
}
.title{
    position: absolute;
    left:50%;
    transform: translate(-50%, -20%);    
}
#counter{
    position: fixed;
    top: 10px;
    left: 90%;
}

/* 메인 */
main{
    position: fixed;
    background-color: white;
    position: relative;
    top: 80px;
    height: 80%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;




}
.each{
    position: relative;
    left: 50%;
    transform: translate(-50,0);
    margin-top: 10px;
    margin-bottom: 10px;
}
.level{
    position: fixed;
    font-size: 20pt;
    left: 40%;
}
.count{
    position: fixed;
    left: 50%;
}
.result{
    height: 50px;
    width: 70px;
    border:none;
    text-align: center;
    font-size: 30pt;
}
#result_sum{
    position: relative;
    left: 2.9%;
}

.plus {
    font-size: 20pt;
    font-weight: bold;
    background-color:#00235B;
    color: #fff;
    border:none;
    border-radius:50px;
    width: 50px;
    height: 50px;  
  }
  .plus:hover{
    background:#3F497F;
  }
  .plus:active{
    font-size:16px;
  }

  .minus {
    font-size: 20pt;
    font-weight: bold;
    background-color:#00235B;
    color: #fff;
    border:none;
    border-radius:50px;
    width: 50px;
    height: 50px;

  }
  .minus:hover{
    background:#3F497F;
  }
  .minus:active{
    font-size:16px;
  }
  .button{
    font-size: 20pt;
    color: #F8F5E4;
    background-color: #00235B;
    position: relative;
    left: -10%;
    top: 10px;
    width: 10%;
    height: 100%;
    border-radius: 10px;
    border: none;




  }
  .button:hover{
    background:#3F497F;
  }
  .button:active{
    font-size:16px;
  }
  

  /* 하단부 */
  footer
  {
    position:fixed;  /* 고정 */
    z-index:5;       /* 높이 우선순위를 높게 설정 */
    width: 100%;     /* 너비 화면 꽉채움 */
    height: 10%;    /* 높이 */
    top:90%;         /* 위치(맨위) */
    left:0px;        /* 위치(맨왼쪽)*/
    background-color: yellow;    
    color: black;
  }