
* {
    font-family: 'Do Hyeon', sans-serif;

}

body {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;    
}

header {
    position: fixed;
    top: 0; left: 0;
    height: 100px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer {
    position: fixed;
    bottom: 0; left: 0;
    height: 50px;
    width: 100%;
    background-color: #ddd;
    vertical-align: middle;

    
}

main {
    position: fixed;
    top: 100px;
    left: 0;
    height: 70%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr)

}

div.stateCity{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;   
    align-items: center;

}
div.each{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

}

span.level {
    width: 80px;
}




button {
  margin: 0;
  padding: 0.5rem 1rem;

  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;

  display: inline-block;
  width: auto;

  border: none;
  border-radius: 4px;
}

  